.index-container {
    background-color: var(--theme-color);
    position: absolute;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    padding: 0.1rem;

    >.posts-ul {
       
        >li{
            border-radius: 0.05rem;
            background-color: var(--text-theme);
            margin-bottom: 0.2rem;

            a, p, h2 {
                color: var(--theme-color);
            }
        }
    }
}